<form (ngSubmit)="OnSubmit()">
  <div class="input-group">
    <p>
      <label for="intial-investment">Initial Investment</label>
      <input name="intial-investment" id="intial-investment" type="number" [(ngModel)]="enteredIntialInvestment"/>
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input name="annual-investment" id="annual-investment" type="number" [(ngModel)]="enteredAnnualInvestment" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input name="expected-return" id="expected-return" type="number" [(ngModel)]="enteredExpectedReturn" />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input name="duration" id="duration" type="number" [(ngModel)]="enteredDuration"/>
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
